/********   High-level stuff   ********/

	body.has-js { /*this centres the page and makes the overflow white*/
		background: #fff;
		max-width:none;
		min-width:900px;
		margin-left: auto;
		margin-right: auto;
		font-size: 19px;
		font-family: "nta", Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
	}
	.has-js #content { /*specifies the width so that it fits beside the navigation paine and centres it*/
		width: 900px;
		margin: 0 auto; 
		border-top: solid 10px #005ea5;
	}
	.has-js .Heading1, .has-js .Heading2,.has-js .Heading3, .has-js .Heading4, .has-js .Heading5, .has-js .Heading6, 
	.has-js h1, .has-js h2, .has-js h3, .has-js h4, .has-js h5, .has-js h6 { 
		font-weight: 700; /*sets all headings to be this heavy font*/
		font-style: normal;
	}
	.has-js ul {
		padding-left:1.1em;
	}
	.has-js li {
		list-style-position: outside;
		list-style-type: initial;
	}
	.has-js .no-height { /*used to reduce the height of an element to nothing - used for 2nd line addresses to conform with GDS address standards*/
		height:0;
	}


.right {
	text-align: right;
}


@media screen and (max-width: 900px) {
    body.has-js ,
	.has-js #content,
	.has-js h1.screen-title .orangeBeta { 
		width: 100%;
		min-width: 100%;
	}
	.orangeBeta span{ 
		margin-left:2px;
	}
	
}


.feedback-text {
	padding: 10px;
	width: 900px; 
	margin-right: auto; 
	margin-left: auto;
	}

.feedback-text p {
	margin-top: 0px;
	margin-bottom: 0px;
	}

/********   Header ********/
	#header {
	    white-space: nowrap;
	    overflow: hidden;
		text-align:center;
		white-space: normal;
		background-color: #000;
		background-color: #000;
	}
	
	#header img {
    max-width: 100%;
    height: auto;
    display: block;
	}
	
	#header div.header-inline {
    vertical-align: middle;
    display: inline-block;	
	}

	
	#header div.header-image {
		width:450px;
		max-width:50%;
	}
	
		#header div.header-image a{
		float:left;
	}
	
	#header .header-text {
    padding-left: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-size: x-large;
	color: #fff;
}

	
	#header div.header-text {
		width:446px;
		max-width:48%;
	    padding: 20px 1% 10px 0;
		text-align:right;
	}

@media screen and (max-width: 600px) {
    #header div.header-text {
		text-align:center;
	}
}



.error-content {
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.error-content h1{
	padding-bottom: 5px;
}

/********   Footer ********/

	#footer {
		border-top:1px solid #a1acb2;
		padding-top:60px;
		padding-bottom:48px;
		text-align:center;
	}
	#footer div.left,
	#footer div.right {
		float:none;
		display:inline-block;
		padding-right:0;
		padding-left:0;
	}
	#footer div.left {
		width:675px;
		max-width:75%;
		text-align:left;
		
	}
    #footer div.right {
		width:224px;
		max-width:24%;
		
	}
@media screen and (max-width: 600px) {
    #footer div.left {
		margin-left:2%;
		max-width:73%;
	}
	#footer div.right {
		margin-right:2%;
		max-width:22%;
	}
}

#footer {
  font-size: small;
  font-weight: normal;
  color: #0b0c0c;
  background-color: #dee0e2;
  font-style: normal;
  box-shadow: 0px 500px 0px 500px #dee0e2;
}
